/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@300;400&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /*colors*/
  /*primary*/
  --primary-100: #ffe2e2;
  --primary-200: #ffc5c4;
  --primary-300: #ffa8a7;
  --primary-400: #ff8b89;
  --primary-500: #ff6e6c;
  --primary-600: #cc5856;
  --primary-700: #994241;
  --primary-800: #662c2b;
  --primary-900: #331616;

  /*secondary*/
  --secondary-100: #e1dde8;
  --secondary-200: #c2bbd1;
  --secondary-300: #a49aba;
  --secondary-400: #8578a3;
  --secondary-500: #67568c;
  --secondary-600: #524570;
  --secondary-700: #3e3454;
  --secondary-800: #292238;
  --secondary-900: #15111c;

  /*gray*/
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /*fonts*/
  --headingFont: 'Lobster Two', cursive;
  --bodyFont: 'Roboto', sans-serif;
  --smallText: 0.8em;

  /*other vars*/
  --backgroundColor: var(--gray-100);
  --textColor: var(--primary-700);
  --border-radius: 0.25rem;
  --letterSpacing: 0.25rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /*box-shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
  color: var(--primary-500);
}

ul {
  list-style: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*buttons*/

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-700);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-4);
}

.btn-hipster {
  color: var(--gray-900);
  background: var(--primary-400);
}

.btn-hipster:hover {
  background: var(--primary-500);
  box-shadow: var(--shadow-4);
}

.btn-block {
  width: 100%;
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: var(--secondary-500);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*alert*/

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/*form*/

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--secondary-500);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-3);
  padding: 2rem 2.5rem;
  color: var(--backgroundColor);
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-600);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

.form-alert {
  color: var(--red-dark);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

::placeholder {
  font-family: inherit;
  color: var(--gray-600);
}

/*loading alert*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--white);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: auto;
}

/*title*/

.title {
  text-align: center;
}

.title-underline {
  background: var(--secondary-500);
  width: 7rem;
  height: 0.5rem;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.container {
  width: 60vw;
  border: 5px solid var(--primary-200);
  border-radius: var(--border-radius);
  max-width: var(--max-width);
}

/*
=============== 
Navbar
===============
*/

.nav-links {
  display: none;
}

nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.nav-header h2 {
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}

.nav-header h2 span {
  color: var(--secondary-500);
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--primary-700);
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: uppercase;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
    font-size: 1rem;
  }

  .nav-links a:hover {
    color: var(--secondary-600);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/*fixed navbar*/

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: var(--gray-200);
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-100);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--primary-500);
  letter-spacing: var(--letterSpacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--secondary-600);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--secondary-500);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  color: #bb2525;
}

.close-btn:hover {
  color: #e66b6b;
  cursor: pointer;
  transform: rotate(90deg) scale(1.1);
}

/*
=============== 
Hero
===============
*/

.hero {
  width: 100%;
  height: calc(100vh - 5rem);
  background: var(--gray-300);
  padding: 1.25rem 2rem;
  display: grid;
  place-items: center;
}

.hero-center {
  display: grid;
  justify-items: center;
}

.hero-btn {
  background: var(--primary-600);

  color: var(--white);
  text-transform: capitalize;
  transition: var(--transition);
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-500);
}

.hero-btn:hover {
  background: transparent;

  color: var(--primary-500);
}

.hero-banner {
  text-align: center;
}

.hero-banner h1 {
  margin-bottom: 1rem;
  letter-spacing: var(--letterSpacing);
}

.hero-banner p {
  line-height: 1.75;
}

@media screen and (min-width: 662px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url('./images/hero-img.jpg') center/cover no-repeat;
  }

  .hero-banner {
    color: var(--primary-200);
  }

  .hero-btn:hover {
    color: var(--primary-200);
  }
}

@media screen and (min-width: 992px) {
  .hero-banner h1 {
    font-size: 4rem;
  }
}

/*
=============== 
About
===============
*/

.about-center {
  display: grid;
  gap: 2rem 2rem;
  place-items: center;
}

.about-img {
  padding: 1.25rem;
  justify-self: center;
}

.about-title {
  margin-bottom: 2rem;
}

.about-title h2 {
  margin-bottom: 0.5rem;
}

.about-info {
  padding: 1rem 2rem;
  line-height: 1.7;
}

.about-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }

  .about-info {
    align-self: center;
  }
}

/*
=============== 
Products
===============
*/

.products {
  display: grid;
  place-items: center;
  margin: 0 2rem;
  padding-top: 2rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem 2rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.product {
  padding: 1rem;
  border: 2px solid var(--secondary-500);
  background: var(--secondary-100);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}

.product:hover {
  box-shadow: var(--shadow-4);
}

.product-img img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.product-info h5 {
  font-family: var(--bodyFont);
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0;
}

.product-info span {
  font-size: 1.25rem;
}

/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */
.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  transition: var(--transition);

  /* border: 0.1rem solid var(--primary-500); */
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service .underline {
  width: 3rem;
  height: 0.12rem;
  margin-bottom: 1.25rem;
  background: var(--secondary-500);
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition);
}

.service h4 {
  margin-bottom: 1rem;
}

.service p {
  transition: var(--transition);
}

.service:hover {
  background: var(--secondary-300);
  color: var(--clr-white);
  box-shadow: var(--shadow-4);
}

.service:hover p {
  color: var(--clr-white);
}

.service:hover .underline {
  background: var(--secondary-400);
}

@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
=============== 
Contacts
===============
*/

.contact {
  background: var(--gray-100);
  padding-top: 0;
}

.contact-form {
  margin: 1rem auto;
  background: var(--secondary-200);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
  padding: 1rem;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  padding-top: 1rem;
  color: var(--primary-700);
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--primary-400);
  border-radius: var(--border-radius);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.form-control::placeholder {
  font-family: var(--bodyFont);
  color: var(--gray-600);
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

.submit-btn {
  padding: 0.75rem 1rem;
}

.contact-info {
  padding: 1rem;
  text-align: center;
}

.contact-details {
  margin: 1.5rem 0;
  letter-spacing: var(--letterSpacing);
  text-align: center;
}

.contact-details h5 {
  margin-bottom: 0.25rem;
  font-size: 1.75rem;
}

.contact-details p {
  font-size: 1rem;
  margin: 0.5rem auto;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .contacts-center {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto;
    column-gap: 10rem;
  }

  .contact-form {
    width: 50vw;
    max-width: 600px;
  }
}
